<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block main %}
<div class="d-flex flex-wrap justify-content-center align-items-md-center col-12">
  <div class="container col-md-5 mb-3 mb-md-0 text-center">
    <img src="{% static notable.img_url %}" class="mw-100" style="max-height: 500px" alt="" />
  </div>
  <div class="container col-md-5 me-md-5">
    <h2 class="mb-3 fs-1">{{ notable.name }}</h2>
    <p class="me-md-5 mb-0">{{ notable.description }}</p>
  </div>
</div>
{% endblock %}
